@model IEnumerable<BankingApp.Models.Transactions>

@{
    ViewData["Title"] = "Transactions";
  
}

<h1>@ViewData["Title"]</h1>  

<p>
 
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaptureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CaptureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.AccountId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Logo at the top left -->
<div class="col-md-2 mt-4 text-start ms-3">
    <img src="~/image/bank%20logog.png" alt="Bank Logo" class="footer-logo">
</div>
